.prog-box-01 .inner {
    background-image: url("../images/piggy-bank-game.PNG");
}

.prog-box-02 .inner {
    background-image: url("../images/pig-tracker.PNG");
}

.prog-box-03 .inner {
    background-image: url("../images/pig-inventory.PNG");
}

.prog-box-04 .inner {
    background-image: url("../images/histogram-generator.PNG");
}

.prog-box-06 .inner {
    background-image: url("../images/website-project.png");
}

.art-box-01 .inner {
    background-image: url("../images/christmas-market.png");
}

.art-box-02 .inner {
    background-image: url("../images/sword.png");
}

.art-box-03 .inner {
    background-image: url("../images/unknown.jpg");
}

.art-box-04 .inner {
    background-image: url("../images/interactive-multimedia-design.png");
}

.art-box-05 .inner {
    background-image: url("../images/koi.JPG");
}

.art-box-06 .inner {
    background-image: url("../images/p.png");
}

.art-box-07 .inner {
    background-image: url("../images/lght.jpg");
}

.model-box-01 .inner {
    background-image: url("../images/headphones.png");
}

.model-box-02 .inner {
    background-image: url("../images/camera-wireframe.PNG");
}

.model-box-03 .inner {
    background-image: url("../images/cup-no-wireframe.png");
}

.form-popup {
    display: none;
    /* position: fixed;
    top: 5%;
    bottom: 0;
    right: 15px; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 9;
}

.form-container {
    max-width: 50rem;
    padding: 10px;
    background-color: white;
}

.art-form-container {
    max-width: 35rem;
    padding: 10px;
    background-color: white;
}

.model-form-container {
    max-width: 65rem;
    padding: 10px;
    background-color: white;
}

.form-container .cancel, .art-form-container .cancel, .model-form-container .cancel {
    background-color: #ea7a66;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: 20px 0px 10px;
    opacity: 0.8;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

#modal-img, #art-modal-img {
    margin-bottom: 20px;
    width:100%;
}

#title, #art-title, #model-title{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: #11184f;
}

.scrollable {
    height: 1000px;
    overflow-y: scroll;
}